body{
  background-color: tomato;
}
#sussy{
  color: red;
  background-color: rgb(65, 97, 73);
  font-family: "Bagel Fat One";
  font-weight: bold;
  font-style: italic;
}
p{
  font-family: verdana;
}
h3{
  color: #bb00ff
}
h4{
  color: hsl(162, 96%, 50%)
}
